<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8"/>
      <title>Control Panel</title>
  </head>
  <body>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
  <table>
    <tr>
      <th colspan="3" id="title_cell" class="title_cell">{{game.title}}</th>
    </tr>
    <tr>
      <td id="home_name_cell" colspan="2" class="home_name_cell">{{game.homeTeam}}</td>
      <td id="home_score_cell" class="home_score_cell">{{game.homeScore}}</td>
    </tr>
    <tr>
      <td id="away_name_cell" colspan="2" class="away_name_cell">{{game.awayTeam}}</td>
      <td id="away_score_cell" class="away_score_cell">{{game.awayScore}}</td>
    </tr>
    <tr>
      <td id="game_quarter_cell" class="game_quarter_cell">{{game.quarter}}</td>
      <td id="game_time_cell" class="game_time_cell">{{time}}</td>
      <td id="game_down_cell" class="game_down_cell">{{game.down}}</td>
    </tr>
    <tr>
      <td colspan="3" id="blurb_cell" class="blurb_cell">{{game.blurb}}</td>
    </tr>
  </table>
  <h2>Title Control</h2>
  <p>
    <form method="POST" id="away_name_form">
      {% csrf_token %}
      <div class="fieldWrapper" id="away_name_wrapper">
          <input type="text" id="away_name" maxlength="30"></input>
      </div>
      <div id="results"></div> <!-- errors go here -->
      <input type="submit" value="Set Away Name" class="submit_button">
    </form>
  </p>
  <h2>Score Controls</h2>
  <h3>Home Team</h3>
  <p>
    <form method="POST" id="home_name_form">
      {% csrf_token %}
      <div class="fieldWrapper" id="home_name_wrapper">
          <input type="text" id="home_name" maxlength="30"></input>
      </div>
      <div id="results"></div> <!-- errors go here -->
      <input type="submit" value="Set Home Name" class="submit_button">
    </form>
    <button class="score_button"
        type="button" id="home_plus_seven">
      Home + 7
    </button>
    <button class="score_button"
        type="button" id="home_sub_seven">
      Home - 7
    </button>
    <br>
    <button class="score_button"
        type="button" id="home_plus_three">
      Home + 3
    </button>
    <button class="score_button"
        type="button" id="home_sub_three">
      Home - 3
    </button>
    <form method="POST" id="home_score_form">
      {% csrf_token %}
      <div class="fieldWrapper" id="home_score_wrapper">
          <input type="text" id="home_score" maxlength="1"></input>
      </div>
      <div id="results"></div> <!-- errors go here -->
      <input type="submit" value="Set Home Score" class="submit_button">
    </form>
  </p>
  <h3>Away Team</h3>
  <p>
    <form method="POST" id="away_name_form">
      {% csrf_token %}
      <div class="fieldWrapper" id="away_name_wrapper">
          <input type="text" id="away_name" maxlength="30"></input>
      </div>
      <div id="results"></div> <!-- errors go here -->
      <input type="submit" value="Set Away Name" class="submit_button">
    </form>
    <button class="score_button"
        type="button" id="away_plus_seven">
      Away + 7
    </button>
    <button class="score_button"
        type="button" id="away_sub_seven">
      Away - 7
    </button>
    <br>
    <button class="score_button"
        type="button" id="away_plus_three">
      Away + 3
    </button>
    <button class="score_button"
        type="button" id="away_sub_three">
      Away - 3
    </button>
    <form method="POST" id="away_score_form">
      {% csrf_token %}
      <div class="fieldWrapper" id="away_score_wrapper">
          <input type="text" id="away_score" maxlength="3"></input>
      </div>
      <div id="results"></div> <!-- errors go here -->
      <input type="submit" value="Set Away Score" class="submit_button">
    </form>
  </p>
<h2>Game Controls</h2>
<h3>Timer Controls</h3>
  <p>
    <form method="POST" id="time_form">
      {% csrf_token %}
      <div class="fieldWrapper" id="time_wrapper">
          <input type="time" id="time_input"></input>
      </div>
      <div id="results"></div> <!-- errors go here -->
      <input type="submit" value="Set Timer" class="submit_button">
    </form>
    <button class="time_button"
        type="button" id="time_plus_five">
      Time + 5
    </button>
    <button class="time_button"
        type="button" id="time_sub_five">
      Time - 5
    </button>
    <br>
    <button class="time_button"
        type="button" id="time_plus_one">
      Time + 1
    </button>
    <button class="time_button"
        type="button" id="time_sub_one">
      Time - 1
    </button>
  </p>
<h3>Quarter Controls</h3>
  <p>
    <form method="POST" id="quarter_form">
      {% csrf_token %}
      <div class="fieldWrapper" id="quarter_wrapper">
          <input type="number" id="quarter_input" maxlength="1"></input>
      </div>
      <div id="results"></div> <!-- errors go here -->
      <input type="submit" value="Set Quarter" class="submit_button">
    </form>
    <button class="quarter_button"
        type="button" id="quarter_plus_one">
      Quarter + 1
    </button>
    <button class="quarter_button"
        type="button" id="quarter_sub_one">
      Quarter - 1
    </button>
  </p>
<h3>Down Controls</h3>
  <p>
    <form method="POST" id="down_form">
      {% csrf_token %}
      <div class="fieldWrapper" id="down_wrapper">
          <input type="number" id="down_input" maxlength="1"></input>
      </div>
      <div id="results"></div> <!-- errors go here -->
      <input type="submit" value="Set Down" class="submit_button">
    </form>
    <button class="down_button"
        type="button" id="down_plus_one">
      Down + 1
    </button>
    <button class="down_button"
        type="button" id="down_sub_one">
      Down - 1
    </button>
  </p>
<h3>Blurb Controls</h3>
  <p>
    <div class="fieldWrapper" id="blurb_input">
        <textarea name="blurb_area" form="blurb_form" maxlength="300"></textarea>
    </div>
    <form method="POST" id="blurb_form">
      {% csrf_token %}
      <div id="results"></div> <!-- errors go here -->
      <input type="submit" value="Submit Blurb" class="submit_button">
    </form>
  </p>

  </body>
  <script src={% static "board/scripts/control.js" %}></script>
  </html>
