#NOT CURRENTLY USED

<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8"/>
      <title>Control Index</title>
  </head>
  <h1>Control Index</h1>
  <body>
    {% if games %}
    <ul>
    {% for game in games %}
        <li><a href="/control/{{ game.gameId }}">{{game.title}} {{ game.homeTeam.name }} vs. {{ game.awayTeam.name }} Game</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <p>No games are currently active.</p>
    {% endif %}
    <a href="/create">Create a new game.</a>
  </body>
  </html>
